{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
<section class="container py-5">
    <h1 class="h1 text-center">Product List</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
                <a href="shop-single.html">
                    <img src="./assets/img/{{ product.name|lower|replace:' ','_' }}.jpg" class="card-img-top" alt="{{ product.name }}">
                </a>
                <div class="card-body">
                    <h5 class="text-dark">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="text-muted">Price: ${{ product.price }}</p>
                    <p class="text-warning">Rating: {{ product.get_rating_display }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
